// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  padding-top: 1px;

  &__items {
    position: relative;
    margin: 0 auto;
  }

  .active {
    opacity: 1;
  }

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    max-width: 400px;

    opacity: 0;
    transition: all 0.3s;
  }

  &__controls {
    text-align: center;
    margin-top: 340px;
  }
}
