
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


/*=============================================
=          Main styles              =
=============================================*/
main {
  min-height: 80vh;
  color: $gray-darker;
  text-align: center;


/*  background-image:
    url('https://picsum.photos/1280/800?image=115');*/
  background-attachment: fixed;
  background-size: cover;

  p {
    font-size: 3em;
    line-height: 1.5;
    color: $white;
    text-transform: uppercase;

    text-shadow: 0 0 4px black;
  }
}

/**
 *
 * Popup
 *
 */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-in-out;

  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;

    min-width: 50vw;
    min-height: 30vh;
    padding: 40px;

    font-size: 2em;

    background-color: $white;

    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;

    padding: 5px 5px;

    font-size: 0.7em;

    cursor: pointer;
    transition: all 300ms;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &__head {}

  &__body {
    font-size: 0.6em;
    line-height: 1.2em;
  }
}

/**
 *
 * Buttons
 *
 */
.menu {
  display: flex;
  justify-content: center;
}

a.btn {
  margin-right: 50px;

  &:last-child {
    margin: 0;
  }
}
/*=====  End of Main styles  ======*/