
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


/*=============================================
=          Main styles              =
=============================================*/
main {
  min-height: 100vh;
  min-width: 100%;
  padding: 100px;

  color: $gray-darker;


/*  background-image:
    url('https://picsum.photos/1280/800?image=115');*/
  background-attachment: fixed;
  background-size: cover;

  p {
    font-size: 3em;
    line-height: 1.5;
    color: $white;
    text-transform: uppercase;

    text-shadow: 0 0 4px black;
  }
}

/*=====  End of Main styles  ======*/
.external {
  background-color: #ff0;
}