
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
                  width: device-width;
  }
}

.page { // html

        $block-name:                &; // #{$block-name}__element

        box-sizing: border-box;
        font-size: 10px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -ms-overflow-style: scrollbar;
        -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
        min-width: 320px;
        min-height: 100%;

        &__inner {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        }

        &__content {
          flex-grow: 1;
        }

        &__footer-wrapper {
          flex-shrink: 0;
        }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


/*=============================================
=          Main styles              =
=============================================*/
main {
  color: $gray-darker;
  text-align: center;


  /*  background-image:
      url('https://picsum.photos/1280/800?image=115');*/
  background-attachment: fixed;
  background-size: cover;

}

/**
 *
 * Menu
 *
 */
.menu {

  ul {
    display: none;
    list-style: none;
  }

  &__title {
    font-weight: bold;
    cursor: pointer;

    &::before {
      content: '▶';

      padding-right: 6px;
      color: green;
    }
  }

  &--open {

    ul {
      display: block;
    }

    .menu__title::before {
      content: '▼';
    }
  }
}

/**
 *
 * Popup
 *
 */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition:  all 500ms;

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;

    min-width: 60%;
    padding: 30px;

    background-color: $white;
    transform: translate(-50%, -50%);
  }

  &--open {
    opacity: 1;
  }
}

/**
 *
 * Carousel
 *
 */
.slider {

  &__items {
    padding: 20px;

    list-style: none;
  }

  &__item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    max-width: 600px;

    opacity: 0;
    transition: all 0.3s;

    &--active {
      opacity: 1;
    }
  }

  &__controls {
    position: relative;
  }
}

.food__slider2 {
  margin-top: 40vh;
}

/**
 *
 * Popup
 *
 */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-in-out;

  &__content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1001;

    min-width: 50vw;
    min-height: 30vh;
    padding: 40px;

    font-size: 2em;

    background-color: $white;

    transform: translate(-50%, -50%);
  }

  &--hidden {
    opacity: 0;
  }

  &__head {}

  &__body {
    font-size: 0.6em;
    line-height: 1.2em;
  }
}

/*=====  End of Main styles  ======*/