// В этом файле должны быть стили для БЭМ-блока grid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.grid {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-flow: row wrap;
  padding-top: 110px;

  &__item {
    flex: 0 1 22.4%;
    /*padding-top: 20%;*/
    min-height: 130px;
    margin-right: 15px;
    margin-bottom: 15px;

    line-height: 130px;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;

    background-color: #ccc;
    transition: all 1s;
    cursor: pointer;

    &:nth-child(4n) {
    }

    &--active {
      background-color: #333;
      color: $gray-lightest;
    }

    &--fade {
      opacity: 0;
    }
  }
}
